body{
    font-size: 16px;
    font-family: sans-serif;
}
.container{
    width: 1000px;
    margin: 0 auto;
    display: flex;
}
.table{

    width: 700px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

}
.th{
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid;
    width: 25%;
    cursor: pointer;
}

.table-body{
    width: 100%;
    display: flex;
    transition: background-color 0.3s;
    cursor: pointer;
}
.td{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid;
    width: 25%;
}
.td:last-child{
    border-right: 1px solid;
}
.table-body:hover{
    background-color: antiquewhite;
}
.product{
    width: 270px;
    padding-left: 30px;
    padding-top: 2%;
}
.form-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

form{
    padding-bottom: 40px;

}
form span{
    display: block;
    width: 100%;
    color: red;
}
.forms{
    display: flex;
}
.search-form{
    padding-left: 20px;
}
