<template>
    <div>
        <div class="container">
            <div class="table">


                <div class="th" @click="sortedList('name')">name</div>
                <div class="th" @click="sortedList('code')">code</div>
                <div class="th" @click="sortedList('price')">price</div>
                <div class="th">Event</div>
                <div class="table-body" v-for="(item, index) in postList_n" :key="index">
                    <div class="td name" @click="productInfo(item.id)">{{item.name}}</div>
                    <div class="td code" @click="productInfo(item.id)">{{item.code}}</div>
                    <div class="td price" @click="productInfo(item.id)">{{item.price}}</div>
                    <div class="td event">
                        <button @click="productForm(item.id)">Edit</button>
                        <button @click="productDelete(item.id)">Delete</button>
                    </div>
                </div>
            </div>
            <div class="product" v-if="product">
                <h4>Product cart</h4>
                <p><b>id:</b> {{product.id}}</p>
                <p><b>name:</b> {{product.name}}</p>
                <p><b>code:</b> {{product.code}}</p>
                <p><b>price:</b> {{product.price}}</p>
                <p><b>created:</b> {{product.created_at}}</p>
                <p><b>updated:</b> {{product.updated_at}}</p>
            </div>
        </div>
        <br><br>
        <div class="container">
            <h3>Add/edit form</h3>
        </div>
        <div class="container forms">
            <form action="" @submit.prevent="send">
                <div class="form-input">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" v-model="nameItem">
                </div>
                <div class="form-input">
                    <label for="code">Code</label>
                    <input type="text" name="code" id="code" v-model="codeItem">
                </div>
                <div class="form-input">
                    <label for="price">Price</label>
                    <input type="text" name="price" id="price" v-model="priceItem">
                </div>
                <button id="addButton" v-if="activeButton === 0" @click="productAdd">Add</button>
                <button v-if="activeButton === 1" @click="productEditPost(productId)">Edit</button>
                <button id="cancelButton" @click="productClear">Cancel</button>
                <span>{{errorText}}</span>
            </form>
            <form action="" class="search-form"  @submit.prevent="send">
                <div class="form-input">
                    <label for="search">Search form</label>
                    <input type="text" id="search" name="search" v-model="search">
                </div>
                <button @click="clear">Clear</button>
            </form>
        </div>
    </div>
</template>
<script>
    const axios = require('axios').default;
    export default {

        components: {},
        data() {
            return {
                url: 'https://test-app.viktor.ws/api/products',
                sortParam: '',
                product: '',
                info: {},
                productId: '',
                checkUpdate: 0,
                clearInfo: 0,
                nameItem: '',
                priceItem: '',
                codeItem: '',
                errorText: '',
                activeButton: 0,
                search: ''
            };
        },
        mounted() {
            axios
                .get(this.url)
                .then(response => (this.info = response.data.data));


        },computed: {
            postList_n() {
                let obj = this.info;
                let newArray = [];
                const serach = this.search.toLowerCase();
                const searchTranslit = this.toTranslit(serach)
                let key = 0;

                for (key in obj) {
                    let el = obj[key]
                    if (el.name.toLowerCase().indexOf(serach) != -1 || el.name.toLowerCase().indexOf(searchTranslit) != -1) {
                        newArray.push(el);
                    }
                }
                return newArray;
            },

        }, methods: {
            productInfo (message) {

                axios
                    .get('https://test-app.viktor.ws/api/products/' + message)
                    .then(response => (this.product = response.data.data));
                return this.product;
            },
            productDelete (message) {
                if (message != undefined && message != '') {
                    axios
                        .delete(this.url + '/' + message)
                        .finally(() => {
                            this.checkUpdate = 1;
                        });
                    this.tableUpdate();
                }
            },
            validation (name, code, price) {
                const codeRegexp = /[0-9]{4}-[0-9]{4}$/gm;
                const priceRegexp = /^[0-9]*$/gm;
                let val = 0;

                if (name != '' && code != '' && price != '') {
                    if (code.match(codeRegexp)) {
                        val++;
                        this.errorText = '';
                    } else {
                        val = 0;
                        this.errorText = 'code invalid; ';
                    }
                    if (price.match(priceRegexp)){
                        val++;
                    }else{
                        val = 0;
                        this.errorText += 'price invalid';
                    }
                    if (val === 2){
                        val = 0;
                        this.errorText = '';
                        return true;
                    }
                } else {
                    alert('enter values');
                }

            },
            productAdd () {
                let name = this.nameItem;
                let code = this.codeItem;
                let price = this.priceItem;
                this.clearInfo = 1;

                if (this.validation(name, code, price)) {
                    axios
                        .post(this.url, {
                            name: name,
                            code: code,
                            price: price
                        })
                        .finally(() => {
                            this.checkUpdate = 1;
                        });
                    this.tableUpdate();
                }

            },
            productClear () {
                this.nameItem = '';
                this.codeItem = '';
                this.priceItem = '';
                this.activeButton = 0;
            },
            sortedList (sortParam) {
                switch (sortParam) {
                    case 'name':
                        return this.info.sort(sortByName);
                    case 'code':
                        return this.info.sort(sortByCode);
                    case 'price':
                        return this.info.sort(sortByPrice);
                    default:
                        return this.info;
                }
            },
            tableUpdate () {
                clearInterval(checkInterval);
                let checkInterval = setInterval(() => {
                    if (this.checkUpdate === 1) {
                        axios
                            .get(this.url)
                            .then(response => (this.info = response.data.data));
                        this.checkUpdate = 0;

                        if (this.clearInfo === 1) {
                            this.productClear();
                            this.clearInfo = 0;
                        }
                    }
                }, 50);
            },
            productForm (itemId) {
                this.productId = itemId;
                this.activeButton = 1;
                axios
                    .get(this.url + '/' + itemId)
                    .then((response) => {
                        let item = response.data;

                        this.nameItem = item.data.name;
                        this.codeItem = item.data.code;
                        this.priceItem = item.data.price;
                    });
            },
            productEditPost (productId) {
                this.clearInfo = 1;
                let name = this.nameItem;
                let code = this.codeItem;
                let price = this.priceItem;

                if (this.validation(name, code, price)) {
                    axios
                        .put(this.url + '/' + productId, {
                            name: name,
                            code: code,
                            price: price
                        })
                        .finally(() => {
                            this.checkUpdate = 1;
                        });
                    this.tableUpdate();
                    this.activeButton = 0;
                }
            },
            toTranslit(text) {
                return text.replace(/([а-яё])|([\s_-])|([^a-z\d])/gi,
                    function (all, ch, space, words) {
                        if (space || words) {
                            return space ? '-' : '';
                        }
                        let code = ch.charCodeAt(0),
                            index = code == 1025 || code == 1105 ? 0 :
                                code > 1071 ? code - 1071 : code - 1039,
                            t = ['yo', 'a', 'b', 'v', 'g', 'd', 'e', 'zh',
                                'z', 'i', 'y', 'k', 'l', 'm', 'n', 'o', 'p',
                                'r', 's', 't', 'u', 'f', 'h', 'c', 'ch', 'sh',
                                'shch', '', 'y', '', 'e', 'yu', 'ya'
                            ];

                        return t[index];
                    });
            },
            clear(){
                this.search = '';
            },
            send () {

            }
        }
    };

    let sortByName = function (d1, d2) {
        return (d1.name.toLowerCase() > d2.name.toLowerCase()) ? 1 : -1;
    };
    let sortByCode = function (d1, d2) {
        return (d1.code > d2.code) ? 1 : -1;
    };
    let sortByPrice = function (d1, d2) {
        return (d1.price > d2.price) ? 1 : -1;
    };
</script>
<style>
    body {
        margin: 0;
        overflow-y: visible !important;
    }

</style>
<style lang="css" src="./assets/css/style.css"></style>
